body {
  font-family: Tahoma, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: snow;
}

#container {
  width: 1024px;
  margin: 50px auto;
}

.header {
  height: 50px;
  background: #102028;
  position: relative;
}

.logotipo {
  margin: 8px 0 0 140px;
}

.header-nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.header-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-nav li {
  display: inline-block;
  padding: 15px;
}

.header-nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  color: #426564;
}

.header-nav a:hover {
  color: rgb(233, 231, 231);
  transition: 0.3s;
}

.portifolio {
  padding: 50px 100px;
  text-align: center;
}

.portifolio h1 {
  font-size: 38px;
  color: #252525;
}

.portifolio p {
  font-size: 16px;
  line-height: 32px;
  color: rgb(78, 78, 78);
}

.gallery {
  color: rgb(78, 78, 78);
  padding: 0 100px 50px 100px;
  overflow: auto;
}

.gallery-card {
  width: 33%;
  float: left;
  text-align: center;
}

.gallery-title {
  color: #252525;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: bold;
}

.about {
  background-color: #003d52;
  color: white;
  padding: 80px;
  background-image: url(../img/bg_detalhe.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about h2 {
  font-size: 52px;
  text-transform: uppercase;
  font-weight: normal;
}

.about p {
  line-height: 1.5;
  width: 60%;
}

.about span {
  display: block;
}

#contact {
  margin: 50px 0;
}

#contact address {
  color: #143f52;
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  font-style: normal;
}

#contact address span {
  display: block;
}

#maps iframe{
    width: 100%;
    height: 450px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.rodape {
    width: 100%;
    background-color: #102028;
    height: 50px;
}

.rodape p{
    text-align: center;
    padding: 18px;
    color: #9fccca;
    letter-spacing: 2px;
    font-size: 12px;
}